*{
    margin: 0;
    padding: 0;
    color:#482e1d!important;
}
body{
    background-color: #482e1d;
}
.el-messiri-uniquifier{
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.saira-condensed-extralight{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}  
#logo{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: white solid 1px;
}
.navbar{
    background-color: #e9d9c2!important;
    font-size: 22px;
}
.nav{
    background-color: #e9d9c2!important;
    font-size: 19px;
}
nav{
    height: 90px;
}
.nav-link:hover{
    color: #c28e1b!important;
}
.current-nav-link{
    background-color: #c28e1b!important;
    border-radius: 7%;
    color: #e9d9c2!important;
}
.current-nav-link:hover{
    color: #e9d9c2!important;
}
.icon{
    height: 22px;
    width: 22px;
}
#ifood{
    height: 17px;
    width: 17px;
    border-radius: 15%;
}
.carousel-inner{
    background-color: #20150d;
}
.carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-image{
    height: 50vh!important;
    width: 80vw!important;
}
.cards{
    gap: 20px;
}
.card{
    background-color: #e9d9c2;
    width: 18%!important;
}
.card-body{
    height: 16vw;
    text-align: justify;
}
.card-image{
    height: 20vh;
    width: 17.45vw;
    border-radius: 3%;
}
h5{
    font-size: 26px;
}
p{
    font-size: 20px!important;
}
.card-title{
    text-align: center;
    color: #c28e1b!important;
    font-size: 54px;
}
.footer-title{
    font-size: 36px!important;
}
.hr{
    color: #c28e1b!important;
}