*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
body{
    background-color: lightsalmon;
    overflow-x: hidden;
}
.navbar{
    height: 12vh;
    background: #ff0800;
    background: linear-gradient(5deg,rgba(255, 8, 0, 1) 0%, rgba(255, 153, 0, 1) 76%, rgba(255, 191, 0, 1) 100%);   
}
.navbar-brand{
    color: white;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 12vh;
    background: #e30e0e!important;
    background: linear-gradient(12deg,rgba(227, 14, 14, 1) 0%, rgba(253, 187, 45, 1) 100%)!important;
}
.card{
    height: 60vh!important;
    background-color: coral;
}
.card-title{
    color: white;
}
.card-image{
    height: 35%;
    width: 100%;
}
.footer{
    height: 10vh;
    background: #ff0800;
    background: linear-gradient(185deg,rgba(255, 8, 0, 1) 0%, rgba(255, 153, 0, 1) 76%, rgba(255, 191, 0, 1) 100%);
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(199, 199, 199);
}
.nav-link:focus{
    color: rgb(199, 199, 199);
}
hr{
    color: white;

}
